 
 header{
    background-image: url(img-3/jumbo.png);
    background-size: cover;
    text-align: center;
    height: 600px;
  }

  .logo{
    padding-top: 10px;
  }

  .contenuto2 > h1{
    color: white;
    width: 500px;
    height: 500px;
    margin-left: 530px;
    margin-top: 100px;
  }

  .contenuto2 > p{
    margin-top: -450px;
    color: white;
    text-align: center;
  }

  .button-mac {
    border-style: hidden;
    border-radius: 14px;
    padding: 8px;
  }

  .button-browser {
    color: white;
    background-color: black;
    border-style: hidden;
    border-radius: 14px;
    padding: 8px;
  }

  .button1{
    border-style: hidden;
    border-radius: 14px;
    padding: 8px;
    margin-left: 1200px;
  }

  main{
    background-color: rgb(179, 187, 195);
    text-align: center;
    height: 2500px;

  }

  .container-1{
    display: flex;
    justify-content: space-around;
  }



  article{
    background-color: rgb(212, 208, 204);
    text-align: center;
    height: 600px;
  }

  .container-2{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }

  nav{
    background-color: rgb(243, 248, 246);
    text-align: center;
    height: 600px;
  }

  .container-3{
    display: flex;
    justify-content: space-around;
    background-color: rgb(246, 247, 245);
    text-align: center;
    height: 600px;
  }


  footer{
    background-color: rgb(71, 67, 67);
    text-align: center;
    height: 500px;
  }
  