 
 header{
    background-image: url(img-3/jumbo.png);
    background-size: cover;
    text-align: center;
    height: 500px;
  }

  .logo{
    padding-top: 10px;
  }

  .contenuto2{
    width: 500px;
    height: 500px;
    margin-left: 530px;
  }

  .button1{
    border-style: hidden;
    border-radius: 14px;
    padding: 8px;
    margin-left: 1200px;
  }

  main{
    background-color: rgb(179, 187, 195);
    text-align: center;
    height: 2500px;

  }

  .image-1{
    width: 80px;
    height: 80px;
  }

  .contenuto-1 {
    margin-left: 500px;
  }

  article{
    background-color: bisque;
    text-align: center;
    height: 500px;
  }

  .flex-container2{
    background-color: rgb(230, 227, 70);
    width: 700px;
    height: 500px;
    align-content: center;
  }

  nav{
    background-color: rgb(243, 248, 246);
    text-align: center;
    height: 500px;
  }

  .flex-container3{
    background-color: chartreuse;
    text-align: center;
    height: 500px;
  }


  footer{
    background-color: rgb(71, 67, 67);
    text-align: center;
    height: 500px;
  }
  