 
 header{
    background-image: url(img-3/jumbo.png);
    background-size: cover;
    text-align: center;
    height: 600px;
  }
  h2{
    display: block;
    font-size: 35px;
  }

  p{
    font-size: 16px;
  }
  .menu{

    justify-content: center;
    text-align: center;
    display: flex;
    color: white;
  }

  .logo{
    padding-top: 10px;
  }

  .contenuto2 > h1{
    color: white;
    width: 500px;
    height: 500px;
    margin-left: 530px;
    margin-top: 100px;
  }

  .contenuto2 > p{
    margin-top: -450px;
    color: white;
    text-align: center;
  }

  .button-mac {
    border-style: hidden;
    border-radius: 14px;
    padding: 8px;
  }

  .button-browser {
    color: white;
    background-color: black;
    border-style: hidden;
    border-radius: 14px;
    padding: 8px;
  }

  .button1{
    border-style: hidden;
    border-radius: 14px;
    padding: 8px;
    margin-left: 1200px;
  }

  main{
    background-color: rgb(179, 187, 195);
    text-align: center;
    height: 2700px;

  }

  .container-1{
    display: flex;
    justify-content: space-around;
  }



  article{
    background-color: rgb(212, 208, 204);
    text-align: center;
    height: 600px;
  }

  .container-2{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }

  nav{
    background-color: rgb(243, 248, 246);
    text-align: center;
    height: 600px;
  }

  .container-3{
    display: flex;
    justify-content: space-around;
    background-color: rgb(246, 247, 245);
    height: 600px;
  }
  
  
  .mac-2{
    background-color: rgba(98, 67, 201, 0.817);
    color: white;
    border-style: hidden;
    border-radius: 14px;
    padding: 8px;
  }


  footer .flex div{
    display: flex;
    flex-direction: row;
    color: white;
    flex-basis: calc(100% / 5);
    background-color: rgb(43, 46, 56);
    height: 200px;
  }

  footer .flex div:first-child{
    flex-basis: 25%;
  }
  .principale-1{
    color: rgba(98, 67, 201, 0.817);
    font-size: 20px;
  }
  .principale{
    color: rgba(98, 67, 201, 0.817);
  }

  